﻿@charset "utf-8";

.modal-header {
    padding:5px 15px;
    border-bottom:1px solid #eee;
    background-color: #e6e6e6;
 /*   -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
}


.modal-headerrent {
    padding:5px 15px;
    border-bottom:1px solid #eee;
    background-color: #e6e6e6;
    /*   -webkit-border-top-left-radius: 5px;
       -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topleft: 5px;
       -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;*/
}

#headerContainer
{
   /* width:100%;*/
    background: #E5E5E5 no-repeat;
    /*height: 110px !important;*/
}

.logo
{
    margin-left: 20px;
    margin-top:10px;
}

#bodyContainer
{
    font-family: helvetica, Arial, sans-serif;

}

/* main horizontal menu */
.nav > li > a {
    display: block;
   /* padding: 8px 29px;*/
    position:static;
    border-radius:0px;
    color: #ffffff;
    font-family: helvetica, Arial, sans-serif;
    font-size: 13px;
    /*background:#e68014;*/
    font-weight: bold;
    height:40px;
    text-align: justify;
    padding:8px 26px;
}


.dropdown-menu > li > a :hover
{
    height:30px;
}
.nav-pills > li >a:hover{
    background: #e68014;
    /*height:40px;*/

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:hover{
    background: #e68014;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:hover {
    background: #e68014;

}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #e68014;
    border-color: #dd4814;
   /* height:40px;*/
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    /*color: #262626;
    text-decoration: none;*/
    background-color: #e68014;
    /*height: 30px;*/

}







.dropdown-large {
    position: static !important;
}
.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight:300;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}


/* mega menu drop down designs */
.dropdown-menu-large {
    top:25.5%;
    width:70%;
    margin-right:0px;
    /*margin-left:-15px;*/
}


.carousel-fade {
.carousel-inner {
.item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.active {
    opacity: 1;
}

.active.left,
.active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.next.left,
.prev.right {
    opacity: 1;
}
    }

.carousel-control {
    z-index: 2;
}
    }



html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
 /*   background: darkred;*/
}

.item:nth-child(2) {
   /* background: red;*/
}

.item:nth-child(3) {
  /*  background: orange;*/
}

.carousel-inner
{

    width:78%;
    margin-left:20px;
}

.carousel-control
{
    background:white;
    padding-top:180px;
    background-image: url("images/arrow_left.png");
}



/* star rating code */
.star-rating s, .star-rating-rtl s {
    color:#c1272d;
    width: 5px;
}

.rating-md
{
    font-size: 21px;
}

.glyphicon {
    color:#c1272d;
    //color:green;
    outline-width: 5px;
}