@media (min-width: 768px){

.modal-dialog {
   width: 800px;
   margin: 100px auto;
}
}
.modal-body {
   /* height: 400px;*/
}
.pull-right{
    margin-right: 35%;
}
.pull-left{
    margin-left: 35%;
}